@tailwind base;
@tailwind components;
@tailwind utilities;

@use "./variables.css";
@use "./typography.css";

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  margin: 0;
}

button {
  cursor: pointer;
}

input, textarea, select {
  outline: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}
