@tailwind base;
@tailwind components;
@tailwind utilities;

@use "./variables.css";
@use "./typography.css";

/* Reset & base layout */
body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  margin: 0;
}

button {
  cursor: pointer;
}

input, textarea, select {
  outline: none;
}
